@model BookingForm.Models.StageCreateModel
@{
    ViewData["title"] = "";
}
<ul>
    @foreach (var item in Model.Apartment)
    {
        <li>
            <input type="checkbox" asp-for="@item"/><span>@item.LocalCode</span>
        </li>   
    }
</ul>