@model IEnumerable<BookingForm.Models.Batch>
@{
    ViewData["title"] = "";
}
<a asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>Batch</th>
            <th>Running</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.BatchNumber</td>
                @if (item.IsRunning)
                {
                    <td>
                    <input type="checkbox" checked disabled/>
                    </td>
                }
                else {
                    <td>
                    <input type="checkbox" disabled/>
                    </td>
                }
                <td>
                    <a asp-action="Start" asp-route-id="@item.Id">Start</a> |
                    <a asp-action="Stop" asp-route-id="@item.Id">Stop</a> 
                </td>
            </tr>
            
        }
    </tbody>
</table>
