@{
    Layout = "~/Views/Reservations/DumbLayout.cshtml";
}
<h4>code--sdt--cmnd
<h4>FVK5CSE6AQDR--	0988437314--	024825436</h4>
<h4>Y3HVZI9PJP5V--	0888378188--	270724016</h4>
<h4>VIQVSP58KFLL--	0984531928--	271081364</h4>
<h4>N0577JOIVSZD--	0989110703--	C0443042</h4>
<h4>NW3P3QFO46YQ--	0988353636--	036179003498</h4>
<h4>Z8O8PKVINCJQ--	0937397757--	271776639</h4>
<h4>L48C01V0P5AB--	0393421703--	291076084</h4>
<h4>3I80I2ZKHTS2--	0903338959--	205416382</h4>
<h4>7NZ9LQD9ADMI--	0962607742--	079190009799</h4>
<h4>LZKCYLNBIS1N--	0935090286--	21889508</h4>
<h4>JHJ8PO70OSJW--	0773193960--	079057000661</h4>
<h4>3RF4SW7XOD24--	0938321586--	079088005646</h4>
<h4>C37VPCHNFFTE--	0901313928--	385558207</h4>
<h4>H1XU5DHHWIDR--	0914742099--	024553973</h4>
<h4>9SAMPJL0F6ZS--	0914912633--	173665384</h4>
<h4>UDV9V61ECXWU--	0903827567--	212176406</h4>
<h4>A20SW33VD4MC--	0903827567--	261037178</h4>
<h4>B9LXUY3TSHGK--	0903827567--	001079009205</h4>
<h4>318YTKGUAI24--	0974406242--	212750697</h4>
<h4>7LGZK7JKOZZL--	0974406242--	212750697</h4>
<h4>46YKO03675GG--	0905938738--	212894326</h4>
<h4>OZNAB9QJ33O4--	0908113382--	025549842</h4>
<h4>D3TTH0JZOOU0--	0902797774--	023542872</h4>
<h4>8U8HTLMIZ1GC--	0902797774--	023542872</h4>
<h4>XD8K9MLGP2AU--	01266001002--	079086007727</h4>
<h4>QN6H3N9NNNF5--	01266001002--	079086007727</h4>
<h4>C3ONO3DHV08S--	01266001002--079086007727</h4>
<h4>V4XJ6RG7NL75--	0906694994--	024188676</h4>
<h4>RMYQ8512USZZ--	0901309903--	24889629</h4>
<h4>0KQUNKM41GKY--	0707907777--	261124752</h4>