@model IEnumerable<BookingForm.Models.RCode>
<table class="table">
    <thead>
        <tr>

            <th>Số thứ tự</th>
            <th>Code</th>
            <th>Tình trạng</th>
            
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@count</td>
                <td scope="row">@item.Code</td>
                @if (item.IsUsed)
                {
                    <td>Đã sử dụng</td>
                }
                else{
                    <td>Chưa sử dụng</td>
                }
                
            </tr>
            count++;
        }
        
    </tbody>
</table>