@model IEnumerable<BookingForm.Models.ConfirmationList>
@{
    Layout = "/Views/Confirmations/DumbLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>Mã căn hộ</th>
            <th>Tên khách hàng</th>
            <th>Tình trạng căn hộ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ApartmentCode</td>
                <td>@item.Client</td>
                @if (item.IsReserved)
                {
                    <td>Đã được đặt mua</td>
                }
                else if (item.NOReserved <= 0) {
                    <td>Còn trống</td>
                }
                else {
                    <td>Đang đặt giữ chỗ (@item.NOReserved)</td>
                }
            </tr>
        }
    </tbody>
</table>